html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {
    background: #353535;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #353535;
    text-align: center;
}

#corbinsProfile {
    width: 80%;
    max-width: 1000px;
    background: #AEB4A9;
    margin: 30px auto;
}

section {
    padding: 20px 0 0;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #353535;
}
#corbinsInfo article {
    max-width: 950px;
    padding: 10px 100px 10px 100px;
}

#dreamJob article {
    max-width: 950px;
    padding: 10px 100px 10px 100px;
}

#dreamJob ul{
    border: 4px solid #12664F;
    max-width: 950px;
    padding: 10px 100px 10px 100px;
}

#corbinsProfile h1 {
    font-size: 2em;
}

#infoList {
    border: 2px solid #353535;
    background-color: #E0C1B3;
}

#dreamJob {
    border: 2px solid #353535;
    background-color: #E0C1B3;
}
p {
    border: 2px solid #353535;
    background-color: #E0C1B3;
    padding: 10px;
}

h2 {
    font-size: 20px;
    margin: 10px;
}
