html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {
    background: #A69F98;
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #A69F98;
    text-align: center;
}

#corbinsProfile {
    width: 80%;
    max-width: 1000px;
    background: #353535;
    margin: 30px auto;
    color: #E0E0E0;
}


section {
    padding: 20px 0 0;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin: 20px 40px 20px 40px;
    color: #E0E0E0;
    border: 2px solid #353535;
    background-color: #555B6E;
    padding: 10px;
}

#myPhoto {
    align-self: auto;
}

#jobPhoto {
    align-self: right;
}

#corbinsInfo article {
    max-width: 950px;
    padding: 10px 100px 10px 100px;
}

#dreamJob article {
    max-width: 950px;
    padding: 10px 100px 10px 100px;
}

#dreamJob ul{
    border: 4px solid #12664F;
    max-width: 950px;
    padding: 10px 100px 10px 100px;
}

#corbinsProfile h1 {
    font-size: 2em;
}

#infoList {
    border: 2px solid #353535;
    background-color: #FAF9F9;
    color: #607B7D;
    padding: 10px 100px 10px 100px;
}

#dreamJob {
    border: 2px solid #353535;
    background-color: #555B6E;
}

#referenceList p{
    font-size: 8px;
}

#personalityTests {
  font-size: 1em;
  line-height: 1.4em;
  margin: 20px 40px 20px 40px;
  color: #E0E0E0;
  border: 2px solid #353535;
  background-color: #555B6E;
  padding: 10px;
}

#personalityTests personalityHeader {
  border: 5px solid #353535;
  background-color: #555B6E;
  margin: 5px inherit;
}

h2 {
    font-size: 20px;
    margin: 10px;
}
